@model IEnumerable<CMSMaersk.Models.Vessel>
@{ 
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Vessels</title>
</head>
<body>
    <h1>Manage Vessels</h1>
    <hr />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBays)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @ViewData[item.VesselID.ToString()]/
                @Html.DisplayFor(modelItem => item.TotalBays)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.VesselID }) |
                @Html.ActionLink("Details", "Details", new { id=item.VesselID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.VesselID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
