<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Maersk Admin Container Management", "AdminHome", "Login", null, new {@class= "navbar-brand"})
            </div>

            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Manage Agents", "Index", "Agents")</li>
                    <li>@Html.ActionLink("Ship Schedule", "Schedule", "Vessels")</li>
                    <li>@Html.ActionLink("Manage Vessels", "Index", "Vessels")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View All<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Customers", "AllIndex", "Customers")</li>
                            <li>@Html.ActionLink("Items", "AllIndex", "Items")</li>
                            <li>@Html.ActionLink("Bookings", "AllIndex", "Bookings")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maersk Shipping</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
